.finish {
  width: 100%;
  height: 100%;
  .main {
    > div {
      display: flex;
      textarea{
          vertical-align: top;
      }
      ul {
          flex:1;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-wrap: wrap;
        li {
          width: 50%;
          line-height: 30px;
        }
      }
    }
  }
}
