.business {
  width: 100%;
  height: 100%;
}

.business .main {
  margin: 0 auto;
}

.business .main > div {
  margin-bottom: 10px;
}

.business .main > div input {
  width: 250px;
}

.business .main span {
  margin-right: 10px;
}

.business .main textarea {
  vertical-align: top;
}
